<head>
    <style type="text/css">
        form{width: 50%;
            height: 80%;
            position:  center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin-left: 25%;
            margin-right: 25%;
            margin-up: 10%;
            min-height: 20px;
            padding: 19px;
            margin-bottom: 20px;
            background-color: #d8e6f3;
            border: 1px solid #e3e3e3;
            }
        </style>
</head>
<body>
    <form class="form-container" method="post">
        <div class="form-title"><h2>Search</h2></div>
        <div class="form-title">Type the word:</div>
        <input class="form-field" type="text" name="word" /><br>
        <div class="form-group">
            <input class="button" type="submit" value="Search">
        </div>
    </form>
</body>
