body{
  width: 100%;
  height: 100%;
  margin: auto;
  //font-family: Helvetica, Arial, verdana;
  font-family: "Times New Roman", Times, serif;
  font-size: 16
  px;
  line-height: 1.58;
}

h2{
  height: 1.3em;
  padding: 20px 40px;
  text-align: center;
  color: #0D0F0E
}

.tab-body{
  text-align: center;
}

.tablinks{
  border: none;
  width: 30%;
  color: black;
  transition: 0.3s;
  //background: #F1F4F8;
  background-color: #E6E6E6;
  outline: none;
  cursor: pointer;
  padding: 14px 35.4px;
  font-size: 1em;
  margin-bottom: 0px;
  border-radius: 6px 6px 0px 0px;
  font-family: "Times New Roman", Times, serif;

}

.tablinks:hover{
  background-color: #B6B6B6;
}

.tablinks.active {
  background-color: #16213C;
  color: white; 
}
/*
.tablinks:nth-child(3){
  //border-top-right-radius: 6px;
}

.tablinks:first-child:hover{
  background: rgba(3, 36, 82, 0.6) ;
}

.tablinks:nth-child(2):hover{
  background:  rgba(67, 61, 101, 0.6);
}

.tablinks:nth-child(3):hover{
  background: rgba(23, 113, 93, 0.6);
}*/

.tabcontent {
  color: black;
  display: none;
  padding: 50px 20px;
  height: 100%;
  //border: 1px solid #ccc;
  background: #f1f1f1;
}

/*.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button.active {
  background-color: #ccc;
}*/

/*
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  margin: auto;
  border-left: none;
  min-height: 300px;
}*/

#Home{
  padding: 40px 0px 0px;
  background: #16213C;
  }

/*
#Dict17{
  background: #17715D;
}

#Dict14{
  background: #433D65;
  //background: #B6AFFF;
}*/

.dict-info{
  width: 45rem;
  margin: auto;
  background: white; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 26px;
  padding-top: 26px;
  min-height: 20rem;
  padding: 20px 50px;
  text-align: left;
}

.dict-info-title{
  background:
  linear-gradient(
    to left, 
    rgba(0, 0, 0, 0) 5%,
    grey 50%,
    rgba(0, 0, 0, 0) 95%
  )
  right
  bottom
  no-repeat; 
  background-size: 100% 2.5px;
  text-align: center;  
  margin-top: 0px;
  padding: 20px;
}

.search-field{
  background: #16213C;
  //background: #0B2849;
  min-height: 4em;
  margin-bottom: 14px;
}

.entry-body{
  width: 100%;
  margin: auto;
  //background: #f1f1f1;
  background: #E6E6E6;

  padding-top: 26px;
  padding-bottom: 16px;
  min-height: 20rem;
}

.dict-result{
  width: 51rem;
  margin: auto;
  background: white; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 26px;
}

.dict-title{
  color: black;
  text-align: left;
  background:
  linear-gradient(
    to left, 
    rgba(0, 0, 0, 0) 5%,
    grey 50%,
    rgba(0, 0, 0, 0) 95%
  )
  right
  bottom
  no-repeat; 
  background-size: 100% 2.5px;
  padding: 20px 30px;
  margin-bottom: 0px;
}

.sense-block{
  text-align: left;
  }

.word-info, .descr-info{
  margin: 0px;
  padding: 15px 30px;
  background: #A09E9A;
}

.headword{
  font-weight: 700;
  font-size: 1.1em;
  color: rgb(255,255,255)
}

.pos{
  color: rgba(255,255,255,0.8);
  font-style: italic;
  font-size: 0.9em;
//background-color: #FFFF64
}

.gram{
  font-size: 0.9em;
  /*  float: right;*/  
  font-style: italic;
  color: rgba(255,255,255,0.8);
  //background-color: #FFFF64
}

.sense-body{
}

.def{
  padding: 20px 30px 20px;
  background:
  linear-gradient(
    to left, 
    rgba(0, 0, 0, 0) 5%,
    grey 50%,
    rgba(0, 0, 0, 0) 95%
  )
  right
  bottom
  no-repeat; 
  background-size: 100% 2.5px;  
}

.ex{
  padding: 20px 30px;
  margin: 0 0 5px 0;
}

.ex-body{
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 1.58;	
}

.ex-source{
  color: gray;
  font-style: italic;
  font-size: 0.9em;
}

.description-block{
  padding: 0px 50px 30px;
  min-height: 7rem;
  text-align: left;
  margin-bottom: 10px;
}

.err{
  padding: 6px 50px 30px;
  min-height: 6rem;
  text-align: center;
}

form input{
  border-radius: 5px;
  border: none;
  font-family: inherit;
  //font-style: italic;
  font-size: inherit;
}

form input, button{
  border: none;

  padding: 15px 20px;
  font-size: 14px;
  margin: -2px;
}

.btn-info {
  border-radius: 5px 0px 0px 5px;
}

.btn-info:last-child {
  border-radius: 0px 5px 5px 0px;
}

form .btn-info{
  background-color: #A2C5F5;
}

.btn-info:hover{
  background-color:  #5E8FD7;
}

#word{
  width: 42rem;
  margin: auto;
}

footer{
  padding: 1.4rem 18.3rem;
  background-color:  #16213C;
  text-align: right;
}



@media screen and (max-width: 850px){
  .tablinks{
    width: 100%;
  }
  
  #word{
    width: 70%;
    margin-top: -10px;
  }
  
  .entry-body{
    padding-top: 0px;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
